::ng-deep .mdc-button--unelevated {
  @apply w-full #{!important};
}

::ng-deep .mat-mdc-unelevated-button:not(:disabled) {
  @apply text-white bg-secondary rounded-2xl font-bold text-sm #{!important}
}

::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white !important;
}

::ng-deep .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: white !important;
}

::ng-deep .mat-mdc-progress-spinner.mat-accent {
  --mdc-circular-progress-active-indicator-color: #ffffff
}
